@font-face {
  font-family: 'GlacialIndifference';
  src: local('GlacialIndifference'), url(../fonts/GlacialIndifference-Regular.otf) format('otf');
}

.box {
  padding: 16px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .landing-page-wrapper {
  border: 0px none;
  height: 2766px;
  position: relative;
  width: 1920px;
}

.box .landing-page {
  background-color: #ffffff;
  height: 2766px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 1920px;
}

.box .looks-by-you {
  height: 475px;
  left: 71px;
  position: absolute;
  top: 1332px;
  width: 1779px;
}

.box .rectangle {
  height: 400px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 348px;
}

.box .img {
  height: 400px;
  left: 357px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 348px;
}

.box .rectangle-2 {
  height: 400px;
  left: 714px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 348px;
}

.box .rectangle-3 {
  height: 400px;
  left: 1071px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 348px;
}

.box .rectangle-4 {
  height: 400px;
  left: 1429px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 348px;
}

.box .best-sellers {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.47px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 230px;
}

.box .header {
  background-color: transparent;
  height: 81px;
  left: 71px;
  position: absolute;
  top: 122px;
  width: 1789px;
}

.box .text-wrapper {
  color: #000000;
  font-family: "GlacialIndifference", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.47px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 47px;
  width: 104px;
}

.box .div {
  color: #000000;
  font-family: "GlacialIndifference", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 147px;
  letter-spacing: -0.97px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 47px;
  white-space: nowrap;
  width: 128px;
}

.box .my-account {
  color: #000000;
  font-family: "GlacialIndifference", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1541px;
  letter-spacing: -0.47px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 118px;
}

.box .IDR {
  color: #000000;
  font-family: "GlacialIndifference", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1463px;
  letter-spacing: -0.47px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 35px;
}

.box .text-wrapper-2 {
  color: #000000;
  font-family: "GlacialIndifference", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1702px;
  letter-spacing: -0.47px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 75px;
}

.box .h-1 {
  color: #000000;
  font-family: "Playfair Display-Bold", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 695px;
  letter-spacing: -0.47px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 385px;
}

.box .mid-year-sale-off {
  color: #000000;
  font-family: "Glacial Indifference", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1464px;
  letter-spacing: -0.47px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}

.box .p {
  color: #000000;
  font-family: "Glacial Indifference", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: -114px;
  letter-spacing: -0.47px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}

.box .mid-year-sale-off-2 {
  color: #000000;
  font-family: "Glacial Indifference", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 701px;
  letter-spacing: -0.47px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 521px;
}

.box .img-2 {
  height: 853px;
  left: 71px;
  object-fit: cover;
  position: absolute;
  top: 260px;
  width: 1777px;
}
